@import "tailwindcss";

@font-face {
	font-family: "Raleway";
	src: url("/src/assets/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/src/assets/fonts/Raleway-Italic-VariableFont_wght.ttf")
		format("truetype");
	font-weight: 100 900;
	font-style: italic;
	font-display: swap;
}

:root {
	/* Apply Raleway globally */
	font-family: "Raleway", sans-serif;

	/* Breakpoints as CSS variables */
	--breakpoint-sm: 1px;
	--breakpoint-md: 701px;
	--breakpoint-lg: 1301px;
}
